rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /growth_accounts/{document=**} {
      allow read, write: if false;
    }

    match /growth_auth_attempts/{document=**} {
      allow read, write: if false;
    }

    match /growth_organizations/{document=**} {
      allow read, write: if false;
    }
  }
}
